<section class="products">
  <div class="section-title">
    <h2>{{ restaurantMenu.restaurant_Name }} Menu</h2>
  </div>
  <div class="products-center">
    <article class="product" *ngFor="let item of restaurantMenu.menus">
      <div class="img-container">
        <a href="#" style="text-decoration: none">
          <img
            src="http://localhost:54866/{{ item.img }}"
            alt="product"
            class="product-img"
            style="border-radius: 50%"
          />
        </a>
        <button class="bag-btn" data-id="1">
          <!-- <i class="fas fa-edit"></i> -->
          $ {{ item.price }}
        </button>
      </div>
      <h3>
        <input
          type="checkbox"
          id="ckeckbtn"
          class="mx-2"
          (change)="getChecks($event,item)"
        />

        <a href="#" style="text-decoration: none; color: black">{{
          item.menu_Title
        }}</a>
      </h3>

      <p>{{ item.description }}</p>
      <h4 style="cursor: pointer; color: chocolate">$ {{ item.price }}</h4>
    </article>
  </div>
  <div>
    <button class="btn btn-warning my-1 mx-5" (click)="back()">Back</button>
    <a
      class="btn btn-warning my-1 eee"
      (click)="NavigateToOrderComponent(restaurantMenu)"
      >CheckOut</a
    >
  </div>
</section>




