<div class="container">
  <div class="row col-12">
    <h4 class="reservenow" style="color: coral">Your Data</h4>

    <div class="card">
      <div class="card-header d-flex">
        <div class="mx-1">
          <span>
            <span class="fas fa-user mx-2"></span>
            <label style="height: 35px"> {{customer_Name}}</label>
          </span>
        </div>
        <div class="mx-1">
          <span class="fas fa-phone mx-2"></span>
          <label style="height: 35px"> {{customer_Phone}}</label>
        </div>
        <div class="mx-1">
          <span class="fas fa-envelope mx-2"></span>
          <label style="height: 35px"> {{customer_Email}}</label>
        </div>
        <div class="mx-1">
          <span class="fas fa-map-marker-alt mx-2"></span>
          <label style="height: 35px"> {{customer_Address}}</label>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-active text-center">
          <thead>
            <tr>
              <th>Img</th>
              <th>Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Cancel</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of orders">
              <td>
                <img
                  src="http://localhost:54866/{{ i.img }}"
                  alt="product"
                  class="rounded-circle"
                  width="50px"
                  height="50px"
                />
              </td>
              <td class="pt-4">{{i.menu_Title }}</td>
              <td class="pt-4">$ {{i.price}}</td>
              <td class="pt-4">
                <div class="d-flex">
                  <span class="fas fa-plus pt-2"  style="cursor: pointer;" (click)="increase(i)"></span>
                  <label class="btn btn-default px-2"> {{counter}} </label>
                  <span class="fas fa-minus pt-2" style="cursor: pointer;" (click)="decrease(i)"></span>
                </div>
              </td>
              <td class="pt-4">$ {{counter*i.price}}</td>
              <td class="pt-4">
                <i class="fas fa-times" (click)="remove(i)" style="cursor: pointer;"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer d-block">
        <div>
          <h5 class="mb-2"><b>Total</b></h5>
          <p>
            SubTotal
            <span style="margin-left: 90%" *ngFor="let i of orders"> $ {{counter * i.price}}</span>
          </p>
          <hr />
          <p>
            <b>Total</b>
            <span style="margin-left: 90%">$ {{totale}}</span>
          </p>
        </div>
        <hr />
        <div class="">
          <a class="btn btn-warning my-1 mx-5" [routerLink]="['']">Back</a>
          <button class="btn btn-warning my-1 eee" (click)="confirm()">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</div>
